@model TAP.Web.Areas.BlogArea.Models.UserBlogsViewModel
@{
    ViewData["Title"] = "View Blogs";
}

<div class="container">
    @if (Model.Blogs.Count() > 0)
    {
        <table class="table">
            
            <tbody>
                @foreach (var item in Model.Blogs)
                {
                    <tr>
                        
                        <td>
                            @item.Author
                        </td>
                        <td>
                            @item.Title
                        </td>
                        <td>
                            @item.Content
                        </td>
                        

                        <td>
                            @Html.ActionLink("Delete", "Delete", "Blogs", new { id = item.Id, name = item.Title }, new { @class = "btn btn-danger", role = "button" })

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    
</div>